@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fbfd;
}
.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 0.3in;
  margin: 1rem;
  box-shadow: 0 0 2px 0 rgba(160, 153, 153, 0.5);
  background-color: #f9fbfd;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #edf2fa;
  border: none;
  padding: 1rem 0;
  flex-wrap: wrap;
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}
